body { 
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
      height: 100vh;
      margin: 0;
    }

    .navbar {
      margin: 0;
      background-color: transparent !important;
    }

    .navbar-nav .nav-link {
      color: black !important;
    }

    .centerbox {
    width: 80%;
    margin: 0 auto; 
    border: 2px solid #000; 
    border-radius: 20px; 
    background-color: rgba(210, 205, 184, 0.5); 
    padding: 20px; 
    display: flex; 
    justify-content: space-between; 
}

    .rightbox, .leftbox {
    padding: 20px;
    border: 2px solid #000; 
    border-radius: 20px; 
}

    .rightbox {
        width: 65%; 
        background-color: red; 
    }

    .leftbox {
        width: 30%; 
        background-color: blue; 
    }